::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    background: #202020;
    border-left: 1px solid #2c2c2c;
  }
  ::-webkit-scrollbar-thumb {
    background: #3e3e3e;
    border: solid 3px #202020;
    border-radius: 7px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(138, 131, 131);
  }
  .dark-mode {
    --color: #ebf4f1;
    --color-primary: #41b38a;
    --color-secondary: #fdf9f3;
    --bg: #091a28;
    --bg-secondary: #071521;
    --border-color: #0d2538;
  }